################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/stock-tracker/CopilotIndices/17.13.441.19478
node_modules
/.vs/stock-tracker/FileContentIndex
/.vs/stock-tracker/v17
